version: '3.8'

services:
  mongo:
    image: mongo:4.4
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mean_backend
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - DB_URL=mongodb://mongo:27017/dd_db

  frontend:
    build: ./frontend
    container_name: mean_frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mean_nginx
    ports:
      - "80:80" # Exposed to outside world
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
